@model AuroraProject.Core.ViewModels.InfluencerFormViewModel
@{
    ViewBag.Title = Model.PageName;
}

<div class="container-fluid register">
    <h6 class="navigator-h6-b">@Html.ActionLink("Aurora", "Index", "Home") > <a href="" onClick="window.location.reload();">@Model.PageName</a></h6>

    <div class="page-decoration-b container">
        <h1 class="page-heading-b">@Model.PageName</h1>
        <p class="page-descreption-b">True Influence is About Leveling Authenticity!</p>
    </div>

    <div class="row">
        <div class="col-md-3 register-left">
            <img src="~/Content/Images/Login/Astronaut.png" alt="Creative Logo" />
            <h3>Tips:</h3>
            <p>A Small Step for You may become a Huge Step for Humanity <br /> <br /> Pick a nice Profile Picture, Use your Social Media monitoring Tools to give accurate Information, Plan Carefully Your Profile to match your Gig later!<p>
                @*<input type="submit" name="" value="Login" /><br />*@
        </div>

        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="audienceInfo-tab" data-toggle="tab" href="#audienceInfo" role="tab" aria-controls="audienceInfo" aria-selected="false">Audience Info</a>
                </li>
                <hr />
            </ul>


            @using (Html.BeginForm(Model.Action, "Influencer", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form", @id = "newUser" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row register-form">
                            <div class="col-md-12">

                                <div>
                                    <div class="form-group upload-image">
                                        @if (Model.FileUploads != null)
                                        {
                                            if (Model.FileUploads.Any(f => f.FileType == AuroraProject.Core.Models.FileType.Avatar))
                                            {
                                                <div>
                                                    <div>
                                                        <img class="img-fluid" src="~/File?id=@Model.FileUploads.First(f => f.FileType == FileType.Avatar).ID" alt="avatar" width="185" height="185" />
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="form-group">
                                            <div>
                                                <label for="Avatar" class="custom-file-upload form-control">
                                                    @Model.ButtonName Avatar
                                                </label>
                                                <input type="file" id="Avatar" name="upload" style="display:none" />
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                </div>

                                <div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.AboutTheInfluencer, new { @class = "form-control", placeholder = "Describe yourself", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.AboutTheInfluencer, "", new { @class = "error-register" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.MainLanguage, new { @class = "form-control", placeholder = "What is your main used language", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.MainLanguage, "", new { @class = "error-register" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.MainPlatform, new { @class = "form-control", placeholder = "Where is your main Social Media Account", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.MainPlatform, "", new { @class = "error-register" })
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Exposure, new { @class = "form-control", placeholder = "How many followers do you have", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.Exposure, "", new { @class = "error-register" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.MainTopic, new { @class = "form-control", placeholder = "Your main topic", @type = "text" })
                                        @Html.ValidationMessageFor(m => m.MainTopic, "", new { @class = "error-register" })
                                    </div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.MembershipTypeID, new SelectList(Model.MembershipTypes, "ID", "Name"), "Membership Type", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.MembershipTypeID, "", new { @class = "error-register" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn" value="Save" name="actionButton">@Model.ButtonName</button>
                    </div>

                    <div class="tab-pane fade show" id="audienceInfo" role="tabpanel" aria-labelledby="audienceInfo-tab">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AudienceAge, new { @class = "form-control", placeholder = "Your audience age", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.AudienceAge, "", new { @class = "error-register" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AudienceMainCountry, new { @class = "form-control", placeholder = "Where is your main Audience From", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.AudienceMainCountry, "", new { @class = "error-register" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AudienceMainState, new { @class = "form-control", placeholder = "What is your Audience main State", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.AudienceMainState, "", new { @class = "error-register" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AudienceMainTrait, new { @class = "form-control", placeholder = "Describe your audience with one phrase", @type = "text" })
                                    @Html.ValidationMessageFor(m => m.AudienceMainTrait, "", new { @class = "error-register" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn shadow-none" value="Save" name="actionButton">@Model.ButtonName</button>
                    </div>
                </div>

                @Html.HiddenFor(m => m.ID)
            }
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            FormInputCheckController.initial();
        });
    </script>
}

