@model AuroraProject.Core.ViewModels.GigFormViewModel
@{
    ViewBag.Title = Model.PageName;
}

<div class="container-fluid register">
    <h6 class="navigator-h6-b">@Html.ActionLink("Aurora", "Index", "Home") > @Html.ActionLink("Influencer", "Create", "Influencer") > <a href="" onClick="window.location.reload();">@Model.PageName</a></h6>

    <div class="page-decoration-b container">
        <h1 class="page-heading-b">@Model.PageName</h1>
        <p class="page-descreption-b">A Simple Gig, can transform our world Forever!</p>
    </div>

    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="SpaceShip Logo" />
            <h3>Tips:</h3>
            <p>Your Gig is like your Spaceship <br /> <br /> Be creative, Pick a Catchy Title for your Gig, Plan carefully your Service!<p>
                @*<input type="submit" name="" value="Login" /><br />*@
        </div>

        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gig</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="basicPackage-tab" data-toggle="tab" href="#basicPackage" role="tab" aria-controls="basicPackage" aria-selected="false">Basic Package</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="advancedPackage-tab" data-toggle="tab" href="#advancedPackage" role="tab" aria-controls="advancedPackage" aria-selected="false">Advanced Package</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="premiumPackage-tab" data-toggle="tab" href="#premiumPackage" role="tab" aria-controls="premiumPackage" aria-selected="false">Premium Package</a>
                </li>
                <hr />
            </ul>

            @using (Html.BeginForm(Model.Action, "Gig", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="tab-content" id="myTabContent">                   
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row register-form">
                            <div class="col-md-12">


                                <div>
                                    <div class="form-group upload-image">
                                        @if (Model.FileUploads != null)
                                        {
                                            if (Model.FileUploads.Any(f => f.FileType == AuroraProject.Core.Models.FileType.Photo))
                                            {
                                                <div>
                                                    <div>
                                                        <img class="img-fluid" src="~/File?id=@Model.FileUploads.First(f => f.FileType == FileType.Photo).ID" alt="Gig Background" width="185" height="185" />
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="form-group">
                                            <div>
                                                <label for="Avatar" class="custom-file-upload form-control">
                                                    @Model.ButtonName Background
                                                </label>
                                                <input type="file" id="Avatar" name="upload" style="display:none" />
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.GigName, new { @class = "form-control", @placeholder = "Gig Title *" })
                                    @Html.ValidationMessageFor(m => m.GigName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserRating, new { @class = "form-control", @placeholder = "User Rating *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.UserRating)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Descreption, new { @class = "form-control", @placeholder = "Description *" })
                                    @Html.ValidationMessageFor(m => m.Descreption)
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(i => i.SpecificIndustryID, new SelectList(Model.SpecificIndustries, "ID", "Name"), "Select", new { @class = "form-control select-value", @placeholder = "Select" })
                                    @Html.ValidationMessageFor(i => i.SpecificIndustryID)
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn" value="Save" name="actionButton">@Model.ButtonName</button>
                    </div>


                    <div class="tab-pane fade show" id="basicPackage" role="tabpanel" aria-labelledby="basicPackage-tab">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.BasicPackageName, new { @class = "form-control", @placeholder = "Package Title *" })
                                    @Html.ValidationMessageFor(m => m.BasicPackageName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.BasicPrice, new { @class = "form-control", @placeholder = "Price for your Package *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.BasicPrice)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.BasicPackageDescreption, new { @class = "form-control", @placeholder = "Package Descreption *" })
                                    @Html.ValidationMessageFor(m => m.BasicPackageDescreption)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.BasicDeliveryTime, new { @class = "form-control", @placeholder = "Days ready for delivery *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.BasicDeliveryTime)
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn" value="Save" name="actionButton">@Model.ButtonName</button>
                    </div>

                    <div class="tab-pane fade show" id="advancedPackage" role="tabpanel" aria-labelledby="advancedPackage-tab">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AdvancedPackageName, new { @class = "form-control", @placeholder = "Package Title *" })
                                    @Html.ValidationMessageFor(m => m.AdvancedPackageName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AdvancedPrice, new { @class = "form-control", @placeholder = "Price for your Package *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.AdvancedPrice)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AdvancedPackageDescreption, new { @class = "form-control", @placeholder = "Package Descreption *" })
                                    @Html.ValidationMessageFor(m => m.AdvancedPackageDescreption)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.AdvancedDeliveryTime, new { @class = "form-control", @placeholder = "Days ready for delivery *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.AdvancedDeliveryTime)
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn" value="Save" name="actionButton">@Model.ButtonName</button>
                    </div>

                    <div class="tab-pane fade show" id="premiumPackage" role="tabpanel" aria-labelledby="premiumPackage-tab">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PremiumPackageName, new { @class = "form-control", @placeholder = "Package Title *" })
                                    @Html.ValidationMessageFor(m => m.PremiumPackageName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PremiumPrice, new { @class = "form-control", @placeholder = "Price for your Package *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.PremiumPrice)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PremiumPackageDescreption, new { @class = "form-control", @placeholder = "Package Descreption *" })
                                    @Html.ValidationMessageFor(m => m.PremiumPackageDescreption)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.PremiumDeliveryTime, new { @class = "form-control", @placeholder = "Days ready for delivery *", @Value = "" })
                                    @Html.ValidationMessageFor(m => m.PremiumDeliveryTime)
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn shadow-none" value="Save" name="actionButton">@Model.ButtonName</button>
                    </div>
                </div>
                @Html.HiddenFor(m => m.GigID);
            }
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            FormInputCheckController.initial();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
