@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="dropdown nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <a class="nav-link hello-user dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="@Url.Action("Index", "Manage")">
                @{Html.RenderAction("UserFullName", "Account");}
            </a>
            <ul class="dropdown-menu logged-dropdown">
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("Details", "Influencer")"><span><i class="fa fa-user i-logged-dropdown"></i></span>My Profile</a>
                </li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("Index", "Chat")"><span><i class="fa fa-envelope i-logged-dropdown"></i></span>Messages</a>
                </li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("ShoppingCart", "ShoppingCart")"><span><i class="fa fa-shopping-cart i-logged-dropdown"></i></span>Shopping Cart<span class="wallet-badge js-orders-count"></span></a>
                </li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("Mine", "Gig")"><span><i class="fa fa-gamepad i-logged-dropdown"></i></span>My Posted Gigs</a>
                </li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("Favourites", "Gig")"><span><i class="fa fa-thumbs-up i-logged-dropdown"></i></span>Favourite Gigs</a>
                </li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("MineInfluencers", "Influencer")"><span><i class="fa fa-users i-logged-dropdown"></i></span>Favourite Influencers</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("Index", "Wallet")">
                        <span><i class="fa fa-dollar i-logged-dropdown"></i></span>My Wallet<span class="wallet-badge js-notifications-count"></span>
                    </a>
                </li>
                <li class="nav-item animated fadeIn">
                    <a class="nav-link log-off" href="@Url.Action("Index", "Manage")"><span><i class="fa fa-gear i-logged-dropdown"></i></span>Settings</a>
                </li>
                <li class="nav-item animated fadeIn">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        <a class="nav-link log-off" href="javascript:document.getElementById('logoutForm').submit()">
                            <span><i class="fa fa-power-off i-logged-dropdown"></i></span>
                            Log off
                        </a>
                    }
                </li>
            </ul>
        }
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link Sing-In" href="@Url.Action("Login", "Account")">Sign In</a>
    </li>
    <li class="nav-item li-Join">
        <a class="nav-link Join" href="@Url.Action("Register", "Account")">Join</a>
    </li>
}
