@using AuroraProject.Core.Models
@model AuroraProject.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<div class="container container-fluid-login">
        <div class="row justify-content-center login-row mb-xl-0">
            <div class="col-lg-6 col-md-6 d-none d-md-block image-container image-container-login">

            </div>
            <div class="col-lg-6 col-md-6 form-container form-container-login">
                <div class="col-lg-8 col-md-12 col-sm-9 colxs col-12 form-box-login text-center">
                    <div class="logo mb-3">
                        <img src="~/Content/Images/Logo/aurora_logo-03.png" width="150" alt="Logo-Image" class="mb-3" />
                        <div class="heading mb-5">
                            <h4>
                                Login into your account
                            </h4>
                        </div>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-input">
                                <span><i class="fa fa-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @type = "email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-login" })
                            </div>
                            <div class="form-input">
                                <span><i class="fa fa-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error-login" })
                            </div>
                            <div class="row mb-3">
                                <div class="col-6 d-flex">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { id = "cb1", @class = "custom-control-input" })
                                        <label class="custom-control-label" for="cb1" style="color:purple">
                                            Remember
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("ForgotPassword")" class="forget-link">
                                        Forgot your Password?
                                    </a>
                                </div>
                            </div>
                            <div class="text-left mb-3">
                                <button type="submit" class="btn btn-login" value="Log in">Login</button>
                            </div>
                            <div class="text-center mb-2">
                                <div class="mb-3" style="color: purple">
                                    Or Login in with
                                </div>
                                <a href="" class="btn btn-social btn-facebook">
                                    facebook
                                </a>
                                <a href="" class="btn btn-social btn-google">
                                    google
                                </a>
                                <a href="" class="btn btn-social btn-twitter">
                                    twitter
                                </a>
                            </div>
                            <div style="color:purple">
                                Don't have an account?
                                <a href="@Url.Action("Register")" class="register-link">
                                    Register here
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="container-fluid register">
    <h6 class="navigator-h6-b">@Html.ActionLink("Aurora", "Index", "Home") > <a href="" onClick="window.location.reload();">Login to Aurora</a></h6>

    <div class="page-decoration-b container">
        <h1 class="page-heading-b">Register</h1>
        <p class="page-descreption-b">Login and get Full Access to our Services!</p>
    </div>

    <div class="row">
        <div class="col-md-3 register-left">
            <img src="~/Content/Images/Logo/aurora_logoFINAL-05.png" alt="Aurora Logo" style="width:40%" />
            <h3>Tips:</h3>
            <p>Remember to: <br /> <br /> Change your password frequently, <br />  Never expose your Password,  <br /> Aurora will never ask your Personal Information <p>
                @*<input type="submit" name="" value="Login" /><br />*@
        </div>

        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login to Aurora</a>
                </li>
                <hr />
            </ul>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row register-form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @type = "email", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-login" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @type = "password", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error-login" })
                                </div>
                                <br />
                                <br />

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { id = "cb1", @class = "custom-control-input" })
                                        <label class="custom-control-label" for="cb1" style="color:purple">
                                            Remember
                                        </label>
                                    </div>
                                </div>
                                <br />
                                <br />

                                <div class="form-group">
                                    <div class="col-6 text-right">
                                        <a href="@Url.Action("ForgotPassword")" class="forget-link">
                                            Forgot your Password?
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="color:purple">
                                        Don't have an account?
                                        <a href="@Url.Action("Register")" class="register-link">
                                            Register here
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-group-lg btn-submit-form animated fadeIn shadow-none" value="Save" name="actionButton">Login</button>
                </div>
            }
        </div>
    </div>
</div>


@section scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
