@model AuroraProject.Core.ViewModels.AuctionViewModel
@{
    ViewBag.Title = Model.Heading;
}

<div class="container-fluid card-container-fluid register">

    <h6 class="navigator-h6-b">@Html.ActionLink("Aurora", "Index", "Home") > @Html.ActionLink("Pro-Industries", "AuroraProIndustries", "Industry") > <a href="" onClick="window.location.reload();">@Model.Heading Details</a></h6>

    <div class="page-decoration container">
        <h1 class="page-heading-b">@Model.Heading</h1>
        <p class="page-descreption-b">Custom Text to describe a Specific Industry with one catchy phrase</p>

        <div class="sorting-div-b">
            <div class="dropdown">
                <div href="#" data-toggle="dropdown" class="dropdown-toggle">Influencer Options<b class="caret"></b></div>
                <div class="dropdown-menu">
                    <div>
                        <div class="checkbox">
                            <label>
                                Rating
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Name
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Most Followed
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Online
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <div href="#" data-toggle="dropdown" class="dropdown-toggle">Card Options<b class="caret"></b></div>
                <div class="dropdown-menu">
                    <div>
                        <div class="checkbox">
                            <label>
                                Most Endoresed
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Lowest Price
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <div href="#" data-toggle="dropdown" class="dropdown-toggle">Delivery Time<b class="caret"></b></div>
                <div class="dropdown-menu">
                    <div>
                        <div class="checkbox">
                            Express
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Up to 3 Days
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Up to 5 Days
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Up to 7 Days
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sorting-div">
            <p class="services-count-b">Services Available: @Model.Auctions.Count()</p>
        </div>
    </div>


    @*NEW PART*@
    <div class="row-card-container">
        @foreach (var auction in Model.Auctions)
        {
            <!-- Inverse Card -->
            <div class="card gig-card pmd-card pmd-card-dark mt-4 p-0 mr-1 ml-1">
                <div class="card-header d-flex flex-row">

                    <div class="media-body">
                        @*<p class="text-center text-capitalize text-danger enabled-gig"><i class="fa fa-eye-slash"></i></p>*@

                        @if (auction.Gig.Influencer.FileUploads.Any(f => f.FileType == AuroraProject.Core.Models.FileType.Avatar))
                        {

                            <a class="pmd-avatar-list-img position-absolute" href="javascript:void(0);">
                                <img class="img-fluid" src="~/File?id=@auction.Gig.Influencer.FileUploads.First(f => f.FileType == AuroraProject.Core.Models.FileType.Avatar).ID" width="40" height="40" alt="Influencer Avatar">
                            </a>
                        }
                        else
                        {
                            <a class="pmd-avatar-list-img position-absolute" href="javascript:void(0);">
                                <img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
                            </a>
                        }

                        <h3 class="card-title text-center">
                            @auction.Gig.User.UserFullName
                            <i class="fa @(Model.FavouriteInfluencers.Contains(auction.Gig.Influencer.ID) ? "fa-heart" : "fa-heart-o") js-toggle-favourite-influencer animated fadeInDown" data-influencer-id="@auction.Gig.InfluencerID"></i>
                        </h3>
                        <p class="card-subtitle text-center">@auction.Gig.Influencer.AboutTheInfluencer</p>

                    </div>
                </div>



                @if (auction.Gig.FileUploads.Any(f => f.FileType == AuroraProject.Core.Models.FileType.Photo))
                {

                    <a class="pmd-card-media" href="@Url.Action("Details", "Gig", new { gigID = auction.Gig.ID })">
                        <img class="img-fluid" src="~/File?id=@auction.Gig.FileUploads.First(f => f.FileType == AuroraProject.Core.Models.FileType.Photo).ID" alt="Gig Background" width="1184" height="666">
                    </a>
                }
                else
                {

                    <a class="pmd-card-media" href="@Url.Action("Details", "Gig", new { gigID = auction.Gig.ID })">
                        <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
                    </a>
                }

                <div class="card-body">
                    <h2 class="card-title">@auction.Gig.GigName</h2>
                    <p class="card-text">@auction.Gig.Descreption</p>
                </div>

                <div class="card-body m-0 p-0">
                    <div class="col-12 d-flex justify-content-between">
                        <p class="card-subtitle mb-1 align-self-end">Delivery Time: @auction.Gig.BasicPackage.DeliveryTime Days</p>
                        <p class="card-subtitle mb-1 align-self-end">Starting From: @auction.Gig.BasicPackage.Price $</p>
                    </div>
                </div>


                @*NEW PART*@
                <div class="card-footer align-content-around d-flex justify-content-between">

                    @(Model.FavouriteGigs.Contains(auction.GigID) ? "Remove Gig From Favourites" : "Add Gig To Favourites")

                    <i class="fa @(Model.FavouriteGigs.Contains(auction.GigID) ? "fa-heart" : "fa-heart-o") pmd-sm js-toggle-favourite-gig" data-gig-id="@auction.GigID"></i>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            //FAVOURITE GIG
            GigController.favouriteGig();
            //FAVOURITE INFLUENCER
            InfluencerController.initial();
        });
    </script>
}
